{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 180,
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
