$blue: #18A0FB;
$red: #F56457;
$green: #90a800;

//$green: #87b801;
//$green: #C1DF1F;
//$red: #D63230;
//$blue: #40BCD8;

//$red: #ff0000;
//$green: #00ff00;
//$blue: #0000ff;

//$red: #dd1c1a;
//$green: #f0c808;
//$blue: #086788;

//$red: #f26419;
//$green: #758e4f;
//$blue: #33658a;

//$red: #ef0195;
//$green: #fcdf87;
//$blue: #1b96f3;

$red: #ff0000;
$yellow: #C7C700;
$magenta: #BF0080;
//$blue: #008080;
$anothergreen: #00FF80;
$anotherblue: #00708F;
$purple: #CC00CC;
$darkyellow: #707000;
$green: #C7C700;
$darkgrey: #0F1418;

$font-size-h1: 2.5rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.125rem;

$font-size-big: 1.125rem;
$font-size-normal: 1rem;
$font-size-small: .875rem;

$font-family-sans: "IBM Plex Sans", sans-serif;
$font-family-serif: "IBM Plex Serif", serif;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-text: 450;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

p {
  font-family: $font-family-serif;
  font-weight: 450;
}
