@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-green: #93c700;
  --c-green-hover: #aeed00;
  --c-green-active: #82ad00;
  --c-blue: #18a0fb;
  --c-red: #cc0000;
  --c-red-hover: #ff0000;
  --c-red-active: #b30000;
  --c-orange: #f06913;

  --r-black: #0f1418;
  --r-grey-90: #21282d;
  --r-grey-70: #435056;
  --r-grey-50: #696e7a;
  --r-grey-30: #dfe1e4;
  --r-grey-10: #f4f5f7;
  --r-white: #ffffff;
  --r-off-white: #faf7f5;

  --fs-10: 1rem;
  --fs-08: .875rem;

  --ff-sans: "Two Candid", sans-serif;
  --ff-handwriting: "Two Caveat", sans-serif;
  --ff-display: "Two Pulp Display", sans-serif;
}

.light {
  --c-black: var(--r-black);
  --c-grey-90: var(--r-grey-90);
  --c-grey-70: var(--r-grey-70);
  --c-grey-50: var(--r-grey-50);
  --c-grey-30: var(--r-grey-30);
  --c-grey-10: var(--r-grey-10);
  --c-white: var(--r-white);
  --c-off-white: var(--r-off-white);
  --c-active: var(--c-orange);
  --c-focus: var(--c-orange);

  --c-primary: #E66F25;
  --c-secondary: #FAF7F5;
  --c-bg: #FFFFFF;
  --c-bg-hover: #e1dcd9;
  --c-bg-active: #ccc7c3;
}

.dark {
  --c-black: var(--r-white);
  --c-grey-90: var(--r-grey-10);
  --c-grey-70: var(--r-grey-30);
  --c-grey-50: var(--r-grey-50);
  --c-grey-30: var(--r-grey-70);
  --c-grey-10: var(--r-grey-90);
  --c-white: var(--r-black);
  --c-off-white: var(--r-black);
  --c-active: var(--c-blue);
  --c-focus: var(--c-blue);

  --c-primary: #608CFF;
  --c-secondary: #141b3d;
  --c-bg: #080C21;
  --c-bg-hover: #0f142f;
  --c-bg-active: #1a2249;
}

html,
body {
  font-family: var(--ff-sans);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--c-black);
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid var(--c-focus);
}

a.disabled {
  cursor: text;
}

button {
  color: var(--c-black);
}

.bold {
  font-weight: 600;
  position: relative;
}

.bold:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  background: #0f1418;
}

.top-padding {
  padding-top: 160px;
}

.container-tight {
  padding: 0 4rem;
}
